.container {
    height: 1500px;
}
html{
    scroll-behavior: smooth;
}

hr{
    border: solid 1px red;
}

table tr td,
th {
    border: 1px solid black;
}

/* Exercise 3 */
.colored {
    background-color: rgb(102, 191, 226);
}

/* Exercise 7 */
.display {
    color: blue;
    font-weight: bold;
}

/* Exercise 9 */
.lightblue {
    background-color: lightblue;
}

/* Exercise 11 */
.content {
    background-color: lightblue;
    width: 70px;
    border: 1px solid red;
}

/* Exercise 12 */
.shape {
    position: absolute;
    background-color:green;
    left: 40px;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 60px;
}

.animate {
    margin-top: -60%;
}

.content{
    margin-top: -58%;
}

.bottom-top{
    float: right;
}


/* Exercise 11 */
.jquery {
    background-color: lightblue;
    width: 70px;
    border: 1px solid red;
}